<div class="container">
  <div class="row">
    <div class=".col col-xs-12">

      <h1>Profile</h1>


      <div class="dog-runner-box">
        <p>Your Details</p>
        <%= link_to "Add Your Details", new_dog_path, method: :get, class: "btn btn-primary btn-lg" %>
      </div>


      <div class="dog-runner-box">
        <p>Your Dog(s)</p>
        <% if !@user.dogs = [] %>
          <%= @user.dogs.first %>
          <%= link_to "Add Another Dog", new_dog_path, method: :get, class: "btn btn-primary btn-lg" %>
        <% else %>
          <%= link_to "Add Your Dog", new_dog_path, method: :get, class: "btn btn-primary btn-lg" %>
        <% end %>
      </div>


      <div class="dog-runner-box">
        <p>Your Email & Password</p>
        <%= link_to "Edit Email", edit_user_registration_path, method: :get, class: "btn btn-primary btn-lg" %>
      </div>

    </div>
  </div>
</div>


