<div class="container form-container text-center">
  <div class="row">
    <div class=".col col-xs-12">


      <h2>Sign up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="form-text-inputs">
          <%= f.input :email, label:false, placeholder: "Enter your email", required: true, autofocus: true %>
          <br>
          <%= f.input :password, label:false, placeholder: "Enter your password", required: true %>
          <%= f.input :password_confirmation, label:false, placeholder: "Re-enter your password", required: true %>
        </div>
      </div>
      <br>
      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
      <% end %>
      <br>
      <br>
      <br>
      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>
