<div class="container">
  <div class="row">
    <div class=".col col-xs-12">

       <%= simple_form_for @dog do |f| %>

        <%= f.input :name %>
        <%= f.input :description %>


        <%= f.input :photo, as: :attachinary %>
        <%= f.input :note %>

        <%= f.input :breed %>
        <%= f.input :age %>
        <%= f.input :weight %>

        <%= f.button :submit %>
      <% end %>

    </div>
  </div>
</div>
