<div class="page-wrapper form-container text-center" id="new-dog">


      <h2>Add a Dog</h2>

      <%= simple_form_for @dog do |f| %>
      <div class="form-inputs">
        <div class="form-text-inputs">
          <%= f.input :name, label:false, placeholder: "Your dog's name"%>
          <%= f.input :breed, label:false, placeholder: "Your dog's breed" %>
          <%= f.input :description, label:false, placeholder: "Tell us about your dog" %>
          <br>
          <%= f.input :note, label:false, placeholder: "Note:" %>
          <%= f.input :age, label:false, placeholder: "Age" %>
          <%= f.input :weight, label:false, placeholder: "Weight" %>
          <br><br>
          <%= f.input :photo, as: :attachinary, label: "Add a photo:" %>
          <br>
        </div>
      </div>
      <div class="form-actions">
        <%= f.button :submit, class: "btn-contrast-bg"%>
      </div>
      <% end %>


</div>
