<% if !current_user.dogs.blank? %>
<div class="dog-selection-menu">
  <% current_user.dogs.each_with_index do |dog, index| %>

  <% if index == 0 %>
  <div class="dog-selection-menu-item active-dog" data-target="#<%= dog.name %>">
    <p><%= dog.name %></p>
  </div>
  <% else %>
  <div class="dog-selection-menu-item" data-target="#<%= dog.name %>">
    <p><%= dog.name %></p>
  </div>
  <% end %>
  <% end %>
  <%= link_to "+", new_dog_path, method: :get %>
</div>

<% current_user.dogs.each_with_index do |dog, index| %>

<% if index == 0 %>
<% status2 = "" %>
<% else %>
<% status2 = " hidden" %>
<% end %>
<div class="dog-profile<%= status2 %>" id="<%= dog.name %>">
 <br>
 <% if dog.photo %>
 <%= cl_image_tag(dog.photo.path, :class => 'img-circle', :id => 'logo', style:"height: 120px; width: 120px; margin-bottom: 25px; box-shadow: 2px 2px 3px rgba(0,0,0,0.3);") %> <br><br>
 <% else %>
 <%= image_tag "dog_avatar.png", {class: "img-circle", id: "logo", style: "height: 120px; width: 120px; margin-bottom: 25px; box-shadow: 2px 2px 3px rgba(0,0,0,0.3);"}%> <br><br>
 <% end %>
 <% Dog::MEDALS.each do |path| %>
 <% benchmark = path[7..9].to_i %>
 <% if @dog_runs[index][:total_km] > benchmark %>
 <% medal_status = "" %>
 <% else %>
 <% medal_status = " medal-opaque" %>
 <% end %>
 <%= image_tag path, class: "medal#{medal_status}" %>
 <% end %>
 <h4>"<%=  dog.description %>"</h4>
 <p class="opacity-07"><%= dog.breed %></p>
 <p class="opacity-07"><%= "#{dog.name} is #{dog.age} years old" %></p>
 <br><br>
 <%= link_to "BOOK A RUN", new_run_path, class: "btn btn-primary btn-contrast-bg" %>
 <%= link_to "Update #{dog.name}'s Profile", edit_dog_path(dog), class: "btn btn-primary btn-no-bg" %>
</div>
<% end %>
<% else %>
<div>
  <br><br><br><br>
  <h2>Welcome to Dog Runners!</h2>
  <p>Add your first dog to get started</p>
  <%= link_to "ADD A DOG", new_dog_path, method: :get, class: "btn btn-contrast-bg" %>
</div>
<% end %>
