<% if current_user.dogs %>
<div class="dog-selection-menu">
  <% current_user.dogs.each_with_index do |dog, index| %>

  <% if index == 0 %>
  <div class="dog-selection-menu-item active-dog" data-target="#<%= dog.name %>">
    <p><%= dog.name %></p>
  </div>
  <% else %>
  <div class="dog-selection-menu-item" data-target="#<%= dog.name %>">
    <p><%= dog.name %></p>
  </div>
  <% end %>
  <% end %>
    <%= link_to "+", new_dog_path, method: :get %>
</div>

<% current_user.dogs.each_with_index do |dog, index| %>

<% if index == 0 %>
<div class="dog-profile" id="<%= dog.name %>">
  <p><%=  dog.description %></p>
  <p><%= dog.breed %></p>
  <p><%= dog.weight %></p>
  <p><%= dog.age %></p>
</div>
<% else %>
<div class="dog-profile hidden" id="<%= dog.name %>">
  <p><%=  dog.description %></p>
  <p><%= dog.breed %></p>
  <p><%= dog.weight %></p>
  <p><%= dog.age %></p>
</div>
<% end %>
<% end %>


<% end %>
