
<div id="total-km">
  <br><br>
  <h2><%= @total_km.round(1) %></h2>
  <p>Total kilometers</p>
  <br>
</div>

<div class="stats">
  <div class="stat">
    <h3><%= @runs.size %></h3>
    <p>Total Runs</p>
  </div>
  <div class="stat">
    <h3><%= @total_run_minutes %></h3>
    <p>Total Minutes</p>
  </div>
  <div class="stat">
    <h3><%= @avg_pace.round(2) %></h3>
    <p>Avg. Pace</p>
  </div>
</div>

<br>
<br>

<% @runs.each_with_index do |run, index| %>

<%= link_to run_path(run) do %>
<div class="run-history-box">

  <div id="run-photo">
    <% if index < 8 %>
      <% run_img_path = "run#{index+1}.PNG" %>
    <% else %>
      <% run_img_path = "run#{1}.PNG" %>
    <% end %>
    <%= image_tag run_img_path, height: 80, width: 80 %>
  </div>

  <div id="run-desc">
    <p><b><%= run.dog.name %></b></p>
    <p><%= run.appointment.strftime("%d-%B-%y") %></p>
    <p><%= run.duration %> minutes</p>
  </div>

  <div id="run-icon">
    <%= image_tag Dog::MEDALS.sample(), class: "medal img-circle" %>
  </div>

</div>
<% end %>

<% end %>
