<a name="HomeTop"></a>
<div class="home_banner styled-bg-container bg-position-home" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url('https://static.wixstatic.com/media/83df61_a5191021e26541d7bcde4f08cde5f4bd.jpg');">
  <div class="banner_content">
    <div class="container" id="banner-text">
      <h1><i class="fa fa-heart"></i><br>Dog<br>Runners</i></h1>

      <div class="animate-title">
        <span class="home-subtitle">Fit dogs are</span>
        <div class="animation-text">
          <p>
            <span class="word wisteria">happy.</span>
            <span class="word belize">healthy.</span>
            <span class="word pomegranate">friendly.</span>
            <span class="word green">wonderful.</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="page-wrapper">
  <div class="content-container">


    <%= link_to "GET STARTED", new_user_registration_path, method: :get, class: "btn btn-contrast-bg" %>
    <br><%= link_to "LOG IN", new_user_session_path, method: :get, class: "btn btn-no-bg" %>
    <br>
  </div>

  <br>
  <div class="container text-center" id="banner-scroll">
    <a name="HowItWorks"></a>
    <%= link_to "#HowItWorks", class: "scroll-link-home" do %>
    HOW IT WORKS <br><i class="fa fa-angle-double-down fa-3x"></i>
    <% end %>
  </div>

  <div class="home_box light-gray-bg">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h3 class="text-center">HOW IT WORKS</h3>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
        <p class="text-justify">Dog Runners is easy, convenient and reliable.  You can book a run with just a few clicks and easily manage the whole process online</p><br><br>
      </div>
      <div class="col-xs-4 text-center">
        <p class="number text-center">1</p>
        <i class="fa fa-paw icon" aria-hidden="true"></i>
        <p class="text">Request a Runner</p>
      </div>
      <div class="col-xs-4 text-center">
        <p class="number">2</p>
        <i class="fa fa-check icon" aria-hidden="true"></i>
        <p class="text">Confirm Booking</p>
      </div>
      <div class="col-xs-4 text-center">
        <p class="number">3</p>
        <i class="fa fa-map-marker icon" aria-hidden="true"></i>
        <p class="text">Track your Dog</p><br><br>
      </div>

      <div class="text-center">
        <span><%= link_to "GET STARTED", new_user_registration_path, method: :get, class: "btn btn-contrast-bg" %></span>
      </div>

      <div class="text-center scroll-link">
        <br><br>
        <%= link_to "#Benefits", class: "scroll-link" do %>
        <br>BENEFITS OF RUNNING<br><a name="Benefits"></a><i class="fa fa-angle-double-down fa-3x"></i>
        <% end %>
      </div>
    </div>
  </div>


  <div class="home_box">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h3 class="text-center">BENEFITS OF RUNNING</h3>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
        <p class="text-justify">Research shows that most dogs don’t get enough exercise.  Walks are great, but they don’t count for exercise.  Dogs benefit from regular runs, just like we do</p><br><br>
      </div>
      <div class="col-xs-4 text-center">
        <%= image_tag "iconhome-1.png" %>
        <p class="text">Improved behavior</p>
      </div>
      <div class="col-xs-4 text-center">
        <%= image_tag "iconhome-2.png" %>
        <p class="text">Fewer health problems</p>
      </div>
      <div class="col-xs-4 text-center">
        <%= image_tag "iconhome-4.png" %>
        <p class="text">Better sleep and mood</p>
        <br>
      </div>

      <div class="text-center">
        <span><%= link_to "GET STARTED", new_user_registration_path, method: :get, class: "btn btn-contrast-bg" %></span>
      </div>

      <div class="text-center scroll-link">
        <br><br><br><br>
        <%= link_to "#WhyUs", class: "scroll-link" do %>
        <br>WHY CHOOSE DOG RUNNERS<br><a name="WhyUs"></a><i class="fa fa-angle-double-down fa-3x"></i>

        <% end %>
      </div>
    </div>
  </div>

  <div class="home_box light-gray-bg">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h3 class="text-center">WHY CHOOSE DOG RUNNERS</h3>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
        <p class="text-justify">We understand that your dog is a part of your family.  We only hire dog-loving runners and certify them in our professional running program</p><br><br>
      </div>
      <div class="col-xs-4 text-center">
        <%= image_tag "iconhome-5.png" %>
        <p class="text">We only hire dog lovers</p>
      </div>
      <div class="col-xs-4 text-center">
        <%= image_tag "iconhome-6.png" %>
        <p class="text">We're focused on your dog</p>
      </div>
      <div class="col-xs-4 text-center">
        <%= image_tag "iconhome-8.png" %>
        <p class="text">Real-time tracking and reports</p>
        <br>
      </div>

      <div class="text-center">
        <span><%= link_to "GET STARTED", new_user_registration_path, method: :get, class: "btn btn-contrast-bg" %></span>
      </div>

      <div class="text-center scroll-link">
        <br><br><br>
        <%= link_to "#HomeTop", class: "scroll-link" do %>
        <br>Back to Top<br><a name="WhyUs"></a><i class="fa fa-angle-double-up fa-3x"></i>
        <% end %>
      </div>
    </div>

  </div>


</div>
</div>


<%= content_for :after_js do %>
<script>
  $(function(){
    var words = document.getElementsByClassName('word');
    var wordArray = [];
    var currentWord = 0;

    words[currentWord].style.opacity = 1;
    for (var i = 0; i < words.length; i++) {
      splitLetters(words[i]);
    }

    function changeWord() {
      var cw = wordArray[currentWord];
      var nw = currentWord == words.length-1 ? wordArray[0] : wordArray[currentWord+1];
      for (var i = 0; i < cw.length; i++) {
        animateLetterOut(cw, i);
      }

      for (var i = 0; i < nw.length; i++) {
        nw[i].className = 'letter behind';
        nw[0].parentElement.style.opacity = 1;
        animateLetterIn(nw, i);
      }

      currentWord = (currentWord == wordArray.length-1) ? 0 : currentWord+1;
    }

    function animateLetterOut(cw, i) {
      setTimeout(function() {
        cw[i].className = 'letter out';
      }, i*80);
    }

    function animateLetterIn(nw, i) {
      setTimeout(function() {
        nw[i].className = 'letter in';
      }, 340+(i*80));
    }

    function splitLetters(word) {
      var content = word.innerHTML;
      word.innerHTML = '';
      var letters = [];
      for (var i = 0; i < content.length; i++) {
        var letter = document.createElement('span');
        letter.className = 'letter';
        letter.innerHTML = content.charAt(i);
        word.appendChild(letter);
        letters.push(letter);
      }

      wordArray.push(letters);
    }


    changeWord();
    setInterval(changeWord, 5000);
  });

</script>
<% end %>
