


<div class="box-container">

<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <div class="dog-runner-box">

        <% if !@all_my_runs.empty? %>
            <h4 class="text-center" id="overwriteShit">Status on <%= @all_my_runs.last.dog.name %>'s run:</h4>

          <div class="col-xs-6">
            <% if @all_my_runs.last.status == "pending" %>
              <p>Waiting for runner to accept..</p>
            <% elsif @all_my_runs.last.status == "confirmed" %>
              <p>Your run has been confirmed</p>
            <% elsif @all_my_runs.last.status == "coming" %>
              <p> <%= @all_my_runs.last.user.first_name %> is on the way to the pickup location</p>
            <% elsif @all_my_runs.last.status == "arrived" %>
              <p> <%= @all_my_runs.last.user.first_name %> has arrived</p>
            <% elsif @all_my_runs.last.status == "started" %>
              <p> <%= @all_my_runs.last.user.first_name %> has begun the run with <%= @all_my_runs.last.dog.name %></p>
            <% elsif @all_my_runs.last.status == "ended" %>
              <p>Run has ended, you can pick up <%= @all_my_runs.last.dog.name %> </p>
            <% elsif @all_my_runs.last.status == "cancelled" %>
              <p>We are sorry <%= @all_my_runs.last.dog.name %>'s run was cancelled </p>
            <% end %>
          </div>
          <div class="col-xs-6">
            <%= button_to "Follow #{@all_my_runs.last.dog.name}", run_path(@all_my_runs.last), method: :get, class: "btn btn-primary btn-md", id: "overwriteButton" %>
          </div>
        <% end %>

        </div>


        <div class="map-style">
          <div id="map" style="width: 100%; height: 90vh;"></div>
        </div>

        <div class="dog-runner-box box-small">
          <%= button_to 'New Run', new_run_path, method: :get, class: "btn btn-primary btn-md" %>
        </div>


      </div>
    </div>
  </div>
</div>



   <script>
      function initMap() {

        // Create a new StyledMapType object, passing it an array of styles,
        // and the name to be displayed on the map type control.
        var styledMapType = new google.maps.StyledMapType(
            [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"administrative.country","elementType":"geometry","stylers":[{"visibility":"off"},{"hue":"#ff0000"},{"saturation":"94"},{"lightness":"88"},{"weight":"3.01"},{"invert_lightness":true}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.attraction","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"poi.attraction","elementType":"labels.text","stylers":[{"visibility":"on"},{"weight":"1.93"}]},{"featureType":"poi.attraction","elementType":"labels.text.fill","stylers":[{"color":"#c58a18"}]},{"featureType":"poi.attraction","elementType":"labels.icon","stylers":[{"weight":"0.01"},{"hue":"#ff8e00"},{"lightness":"0"},{"gamma":"1"},{"saturation":"35"}]},{"featureType":"poi.park","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#00ffa7"},{"saturation":"-69"},{"lightness":"77"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road","elementType":"labels.icon","stylers":[{"visibility":"simplified"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"on"},{"weight":"0.49"},{"hue":"#ff6a00"}]},{"featureType":"transit","elementType":"labels.icon","stylers":[{"saturation":"-100"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#ffffff"},{"visibility":"on"}]}],
            {name: 'Styled Map'});

        // Create a map object, and include the MapTypeId to add
        // to the map type control.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 55.647, lng: 37.581},
          zoom: 11,
          mapTypeControlOptions: {
            mapTypeIds: ['roadmap', 'satellite', 'hybrid', 'terrain',
                    'styled_map']
          }
        });

        //Associate the styled map with the MapTypeId and set it to display.
        map.mapTypes.set('styled_map', styledMapType);
        map.setMapTypeId('styled_map');
      }
    </script>



<!-- Required for Gmaps -->
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
