<!-- <div class="secret-page-container"> -->
<div class="page-wrapper">
  <div class="content-container">


  <div class="tab-menu-container text-center">
    <div class="tabs">
      <a class="tab" data-target="#profile">
        <h4>ME</h4>
      </a>
      <a class="tab" data-target="#dogs">
        <h4>MY DOGS</h4>
      </a>
      <a class="tab active" data-target="#run-history">
        <h4>RUNS</h4>
      </a>
    </div>
  </div>

  <div class="tab-content-container text-center">

    <!-- _________________ PROFILE TAB _________________ -->
    <div class="tab-content hidden" id="profile">
      <div class="form-container">
        <br>
        <% if current_user.photo %>
        <%= cl_image_tag(current_user.photo.path, :class => 'img-circle white-border', :id => 'logo', style:"height: 140px;") %>
        <% else %>
        <%= image_tag "dog_avatar.png", {class: "img-circle white-border", id: "logo", style: "height: 140px;"}%>
        <% end %>
        <%= render 'shared/profile_edit_form' %>
      </div>
    </div>

    <!-- _________________ MY DOGS TAB _________________ -->
    <div class="tab-content hidden" id="dogs">
      <%= render 'shared/dog_profile' %>
    </div>

    <!-- _________________ RUN HISTORY TAB _________________ -->
    <div class="tab-content" id="run-history">
      <div class="box-container">
        <%= render 'shared/run_history' %>
    </div>
  </div>

</div>
</div>

<%= render 'shared/run_notification' %>
</div>



<!-- Required for Gmaps -->
<% content_for(:after_js) do %>
<% end %>
