
<div class="secretWrapperHome">



  <div class="container">
    <div class="row">
          <div class="col-xs-8 col-xs-offset-2" id="header">
            <h4>Status on <%= @all_my_runs.last.dog.name %>'s run:</h4>
          </div>
          <div class="col-xs-8 col-xs-offset-2" id="content">
            <% if @all_my_runs.last.status == "pending" %>
              <p>Waiting for runner to accept..</p>
            <% elsif @all_my_runs.last.status == "confirmed" %>
              <p>Your run has been confirmed</p>
            <% elsif @all_my_runs.last.status == "coming" %>
              <p> <%= @all_my_runs.last.user.first_name %> is on the way to the pickup location</p>
            <% elsif @all_my_runs.last.status == "arrived" %>
              <p> <%= @all_my_runs.last.user.first_name %> has arrived</p>
            <% elsif @all_my_runs.last.status == "started" %>
              <p> <%= @all_my_runs.last.user.first_name %> has begun the run with <%= @all_my_runs.last.dog.name %></p>
            <% elsif @all_my_runs.last.status == "ended" %>
              <p>Run has ended, you can pick up <%= @all_my_runs.last.dog.name %> </p>
            <% elsif @all_my_runs.last.status == "cancelled" %>
              <p>We are sorry <%= @all_my_runs.last.dog.name %>'s run was cancelled </p>
            <% end %>
          </div>
          <div class="col-xs-8 col-xs-offset-8" id="watchRun">
            <%= button_to "Follow #{@all_my_runs.last.dog.name}", run_path(@all_my_runs.last), method: :get, class: "btn btn-primary" %>
          </div>
    </div>
  </div>











  <div class="banner-content">
    <%= button_to 'Boo

    k a Run', new_run_path, method: :get, class: "btn btn-primary btn-md" %>
    <div class="bannerSecretHome styled-bg-container bg-position-center" style="background-image: linear-gradient(-225deg, rgba(0,101,168

    ,0.3) 0%, rgba(0,36,61,0.3) 50%), url('https://static.wixstatic.com/media/83df61_a5191021e26541d7bcde4f08cde5f4bd.jpg');"></div>
  </div>


</div>



















