<div class="secret-page-container">


  <div class="tab-menu-container text-center">
    <div class="tabs">
      <a class="tab" data-target="#profile">
        <h4>Profile</h4>
      </a>
      <a class="tab active" data-target="#dogs">
        <h4>My Dogs</h4>
      </a>
      <a class="tab" data-target="#run-history">
        <h4>History</h4>
      </a>
    </div>
  </div>

  <div class="tab-content-container text-center">

    <!-- _________________ PROFILE TAB _________________ -->
    <div class="tab-content hidden" id="profile">
      <div class="form-container">
      <br>
        <% if current_user.photo %>
        <%= cl_image_tag(current_user.photo.path, :class => 'img-circle white-border', :id => 'logo', style:"height: 140px;") %>
        <% else %>
        <%= image_tag "dog_avatar.png", {class: "img-circle white-border", id: "logo", style: "height: 140px;"}%>
        <% end %>
        <%= render 'shared/profile_edit_form' %>
      </div>
    </div>

    <!-- _________________ MY DOGS TAB _________________ -->
    <div class="tab-content" id="dogs">
      <% if current_user.dogs %>
      <% current_user.dogs.each do |dog| %>
      <% if dog.photo %>
      <div class="dog-runner-box">
        <div class="box-secrets-page">
          <div class="box-img-container" style="background-image: url('<%= cl_image_path dog.photo.path%>');">
          </div>
          <div class="box-secrets-content-box">
            <h3><%= dog.name %></h3>
            <br><%= link_to "Start a run", new_run_path, method: :get, class: "btn btn-primary width-100" %>
            <br><%= link_to "Run statistics", "#", method: :get, class: "btn btn-primary width-100" %>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
      <% end %>
      <br><br><%= link_to "Add A Dog", new_dog_path, method: :get, class: "btn btn-primary btn-no-bg" %>
    </div>

    <!-- _________________ RUN HISTORY TAB _________________ -->
    <div class="tab-content hidden" id="run-history">
      <p>run history.</p>
    </div>
  </div>

  <%= render 'shared/run_notification' %>
</div>



<!-- Required for Gmaps -->
<% content_for(:after_js) do %>
<% end %>
