
<div class="secretWrapperHome">





  <div class="container">
    <div class="row">
      <% @all_my_runs.each do |run| %>
      <div class="col-xs-8 col-xs-offset-2" id="header">
        <h4>Status on <%= run.dog.name %>'s run:</h4>
      </div>
      <div class="col-xs-8 col-xs-offset-2" id="content">
        <% if run.status == "pending" %>
          <p>Waiting for runner to accept..</p>
        <% elsif run.status == "confirmed" %>
          <p>Your run has been confirmed</p>
        <% elsif run.status == "coming" %>
          <p>DogRunner is on the way to the pickup location</p>
        <% elsif run.status == "arrived" %>
          <p>DogRunner has arrived</p>
        <% elsif run.status == "started" %>
          <p>DogRunner has begun the run with <%= run.dog.name %></p>
        <% elsif run.status == "ended" %>
          <p>Run has ended, you can pick up <%= run.dog.name %> </p>
        <% elsif run.status == "cancelled" %>
          <p>We are sorry <%= run.dog.name %>'s run was cancelled </p>
        <% end %>
      </div>
      <div class="watchRun">
        <%= button_to "Follow #{run.dog.name}", run_path(run), class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>









  <div class="banner-content">
    <%= button_to 'Book a Run', new_run_path, method: :get, class: "btn btn-primary btn-md" %>
    <div class="bannerSecretHome styled-bg-container bg-position-center" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url('https://static.wixstatic.com/media/83df61_a5191021e26541d7bcde4f08cde5f4bd.jpg');"></div>
  </div>
</div>





