
<div class="map-container">
  <div class="map-style">
    <div id="map" style="width: 100%; height: 90vh;"></div>
  </div>
  <div class="dog-runner-box box-small dog-runner-map-box">
    <%= link_to 'Book a Run', new_run_path, method: :get, class: "btn btn-primary btn-md" %>
  </div>
  <% if !@all_my_runs.empty? %>
  <div class="map-run-box">
    <div class="map-run-box-content">
      <%= link_to "#" do %>
      <div id="map-box-content-container">
        <p class="text-center">Status on <%= @all_my_runs.last.dog.name %>'s run:</p>
        <% if @all_my_runs.last.status == "pending" %>
        <p>Waiting for runner to accept..</p>
        <% elsif @all_my_runs.last.status == "confirmed" %>
        <p>Your run has been confirmed</p>
        <% elsif @all_my_runs.last.status == "coming" %>
        <p> <%= @all_my_runs.last.user.first_name %> is on the way to the pickup location</p>
        <% elsif @all_my_runs.last.status == "started" %>
        <p> <%= @all_my_runs.last.user.first_name %> has begun the run with <%= @all_my_runs.last.dog.name %></p>
        <% elsif @all_my_runs.last.status == "arrived" %>
        <p> <%= @all_my_runs.last.user.first_name %> has arrived</p>
        <% elsif @all_my_runs.last.status == "cancelled" %>
        <p>We are sorry <%= @all_my_runs.last.dog.name %>'s run was cancelled </p>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="map-run-box-ex-btn">
      <%= link_to "#" do %>
      <div id="close-link-container">
        <i class="fa fa-close" aria-hidden="true"></i>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
</div>

<!-- Required for Gmaps -->
<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).ready(function() {

$('.map-run-box-ex-btn a').click(function(event) {
  event.preventDefault();
  console.log("clicked!");
});


//Keep above
     var mapStyle = [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"administrative.country","elementType":"geometry","stylers":[{"visibility":"off"},{"hue":"#ff0000"},{"saturation":"94"},{"lightness":"88"},{"weight":"3.01"},{"invert_lightness":true}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.attraction","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"poi.attraction","elementType":"labels.text","stylers":[{"visibility":"on"},{"weight":"1.93"}]},{"featureType":"poi.attraction","elementType":"labels.text.fill","stylers":[{"color":"#c58a18"}]},{"featureType":"poi.attraction","elementType":"labels.icon","stylers":[{"weight":"0.01"},{"hue":"#ff8e00"},{"lightness":"0"},{"gamma":"1"},{"saturation":"35"}]},{"featureType":"poi.park","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#00ffa7"},{"saturation":"-69"},{"lightness":"77"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road","elementType":"labels.icon","stylers":[{"visibility":"simplified"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"on"},{"weight":"0.49"},{"hue":"#ff6a00"}]},{"featureType":"transit","elementType":"labels.icon","stylers":[{"saturation":"-100"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#ffffff"},{"visibility":"on"}]}];

//Keep below

var handler = Gmaps.build('Google');
handler.buildMap({ internal: { id: 'map' },

provider: {
styles:    mapStyle
}

}, function() {
markers = handler.addMarkers(<%= raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
if (markers.length == 0) {
handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
}
});
});
<% end %>
<% end %>
