
  <div class="container">
    <div class="row">
      <div class="col-xs-12">


 <!-- Google Map -->
  <div class="map-style">
    <div id="map" style="width: 100%; height: 90vh;"></div>
  </div>


        <h4>Status on <%= @all_my_runs.last.dog.name %>'s run:</h4>

        <% if @all_my_runs.last.status == "pending" %>
        <p>Waiting for runner to accept..</p>
        <% elsif @all_my_runs.last.status == "confirmed" %>
        <p>Your run has been confirmed</p>
        <% elsif @all_my_runs.last.status == "coming" %>
        <p> <%= @all_my_runs.last.user.first_name %> is on the way to the pickup location</p>
        <% elsif @all_my_runs.last.status == "arrived" %>
        <p> <%= @all_my_runs.last.user.first_name %> has arrived</p>
        <% elsif @all_my_runs.last.status == "started" %>
        <p> <%= @all_my_runs.last.user.first_name %> has begun the run with <%= @all_my_runs.last.dog.name %></p>
        <% elsif @all_my_runs.last.status == "ended" %>
        <p>Run has ended, you can pick up <%= @all_my_runs.last.dog.name %> </p>
        <% elsif @all_my_runs.last.status == "cancelled" %>
        <p>We are sorry <%= @all_my_runs.last.dog.name %>'s run was cancelled </p>
        <% end %>


        <%= button_to "Follow #{@all_my_runs.last.dog.name}", run_path(@all_my_runs.last), method: :get, class: "btn btn-primary" %>

      <div class="banner-content">
        <%= button_to 'Book a Run', new_run_path, method: :get, class: "btn btn-primary btn-md" %>
      </div>


    </div>
  </div>
</div>



<!-- Required for Gmaps -->
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
