<div class="container form-container text-center">
  <div class="row">
    <div class=".col col-xs-12">


      <h2>Log in</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <div class="form-text-inputs">
          <%= f.input :email, label:false, placeholder: "Email", required: false, autofocus: true %>
          <br>
          <%= f.input :password, label:false, placeholder: "Password", required: false %>
        </div>
        <br>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in" %>
      </div>
      <% end %>
      <br><br><br>
      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>
