
<div class="modal fade bd-example-modal-sm" id="confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <!-- <div class="dog-runner-box box-small white-border-bottom"> -->
          <h3><strong><%= @run.dog.name %> is going for a run.</strong></h3>
          <p>Run duration: <strong><%= @run.duration %> minutes.</strong></p>
       <!--  </div> -->
        <div class="dog-runner-box box-small white-border-bottom">
        <!-- <h3>When &amp; Where</h3> -->
         <%= image_tag "loc_icon.png", {style: "height: 50px"} %>
          <p>Date: <strong><%= @run.appointment.to_date %></strong>
          </p>
          <p>Pick-up window: <strong><%= @run.appointment.to_formatted_s(:time) %> -
          <%= (@run.appointment.time + 3600).to_formatted_s(:time) %></strong>
          </p>
          <p>Location: <strong><%= @run.address %></strong></p>
        </div>
        <div class="dog-runner-box box-small">
        <!-- <h3>Pricing &amp; Terms</h3> -->
        <%= image_tag "euro_icon.png", {style: "height: 50px"} %>
          <p>Run:  <%= number_to_currency(@run.duration/2, :unit=>'€') %></p>
          <p>Home pick-up:  <%= number_to_currency(5, :unit=>'€') %>
          </p>
          <p>Total: <strong><%= number_to_currency(@run.price, :unit=>'€') %>
          </strong></p>
          <p><a href="#">(See terms in detail.)</a></p>
        </div>
      </div>

        <%= simple_form_for @run, url: confirm_path(@run), method: :patch do |f| %>
          <%= f.button :submit, value: "CONFIRM BOOKING", class: "btn-modal-bg" %>
        <% end %>

        <button type="button" class="btn btn-modal-no-bg" data-dismiss="modal">Make Changes</button>

    </div>
  </div>
</div>











