
<div class="modal fade bd-example-modal-sm" id="confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <h3><strong><%= @run.dog.name %> is going for a run.</strong></h3>
        <br>
        <p>Run duration: <strong><%= @run.duration %> minutes</strong></p>

        <div class="dog-runner-box box-small white-border-bottom">


          <i class="fa fa-map-marker" aria-hidden="true"></i>

          <h3>Today</h3>

          <% hr = (@run.appointment + 2 * 3600).strftime("%H").to_i %>

          <% min = 15 %>
          <% min = 30 if @run.appointment.strftime("%M").to_i > 15 %>
          <% min = 45 if @run.appointment.strftime("%M").to_i > 30 %>
          <% if @run.appointment.strftime("%M").to_i > 45 %>
            <% min = 0 %>
            <% hr += 1 %>
          <% end %>


          <p><strong>between <%= hr %>:<%= min %> and
          <%= hr + 1 %>:<%= min %></strong></p>

          <p><%= @run.address %></p>

          <br>
          <i class="fa fa-eur" aria-hidden="true"></i>

          <h3>Total: <%= number_to_currency(@run.price, :unit=>'€') %></h3>

          <p>
          Run:  <%= number_to_currency(@run.duration/2, :unit=>'€') %> + Pick-up:  <%= number_to_currency(5, :unit=>'€') %>
          </p>
          <h4><a href="#">(See terms in detail.)</a></h4>
        </div>
      </div>

          <%= simple_form_for @run, url: confirm_path(@run), method: :patch do |f| %>
            <%= f.button :submit, value: "CONFIRM BOOKING", data: { disable_with: "CONFIRM BOOKING" }, class: "btn-modal-bg" %>
          <% end %>


          <button type="button" class="btn btn-modal-no-bg" data-dismiss="modal">Make Changes</button>

    </div>
  </div>
</div>











