<br>


<% if run.status == "pending" %>


  <div id="run-avatar">
    <span id="dog-avatar">
     <% if dog.photo %>
     <%= cl_image_tag(dog.photo.path, :class => 'img-circle white-border', :id => 'logo-show', style:"height: 120px;") %>
     <% else %>
     <%= image_tag "dog_avatar.png", {class: "img-circle white-border", id: "logo-show", style: "height: 120px;"}%>
     <% end %>
   </span>
   <span id="runner-avatar">
    <%= image_tag "unassigned.png", {class: "img-circle white-border", id: "logo-show", style: "height: 120px;"}%>
  </span>
  </div>
  <br>
  <h3><%= dog.name %> & ???</h3>

<% else %>

  <div id="run-avatar">

  <span id="dog-avatar">

   <% if dog.photo %>
   <%= cl_image_tag(dog.photo.path, :class => 'img-circle white-border', :id => 'logo-show', style:"height: 120px;") %>
   <% else %>
   <%= image_tag "dog_avatar.png", {class: "img-circle white-border", id: "logo-show", style: "height: 120px;"}%>
   <% end %>

  </span>

  <span id="runner-avatar">
  <% if user.photo %>
  <%= cl_image_tag(user.photo.path, :class => 'img-circle white-border', :id => 'logo-show', style:"height: 120px; width: 120px;") %>
  <% else %>

  <%= image_tag "runner_avatar.png", {class: "img-circle white-border", id: "logo-show", style: "height: 120px;"}%>
  <% end %>
  </span>
  </div>
  <br>

  <h3><%= dog.name %> & <%= user.first_name %></h3>
<% end %>
