
<div class="container form-container">
  <div class="row">
    <div class=".col col-xs-12">

      <h2>Almost done...</h2>
      <p>Please review and confirm your booking.</p>
      <br>

        <div class="dog-runner-box white-border">
          <h3><%= @run.dog.name %> is going for a run.</h3>
          <p>Duration run: <%= @run.duration %></p>
        </div>

        <div class="dog-runner-box white-border">
        <h3>When &amp; Where</h3>

          <p>Date: <%= @run.appointment.to_date %>
          </p>
          <p>Pick-up window: <%= @run.appointment.to_formatted_s(:time) %> -
          <%= (@run.appointment.time + 3600).to_formatted_s(:time) %>
          </p>

          <p>Location: <%= @run.address %></p>

        </div>

        <div class="dog-runner-box white-border">
        <h3>Pricing &amp; Terms</h3>
          <p>Run:  <%= number_to_currency(@run.duration/2) %></p>
          <p>Home pick-up:  <%= number_to_currency(10) %></p>
          <p>Total: <%= number_to_currency(@run.price) %></p>
          <p><a href="#">See terms in detail</a></p>
        </div>


        <div class="dog-runner-box white-border form-actions">

          <%= simple_form_for @run, url: confirm_path(@run), method: :patch do |f| %>
            <%= f.button :submit, value: "Confirm Booking", class: "btn btn-primary btn-width-to-fit" %>
          <% end %>
          <br>
          <%= link_to "Make Changes", :back %>
        </div>




        </div>
      </div>
    </div>

