<br>
<div class="container">
  <div class="row">
    <div class=".col col-xs-12">

      <h2>Please confirm your booking:</h2>
      <br>

        <div class="dog-runner-box">
          <h3><%= @run.dog.name %> is going for a run.</3>
        </div>

        <div class="dog-runner-box">
          <p>Date & Time: <%= @run.appointment %></p>
          <p>Pick-up point: <%= @run.dog.user.address %></p>
          <p>Duration run: <%= @run.duration %></p>
        </div>

        <div class="dog-runner-box">
          <p><%= @run.price %></p>
          <p><%= @run.note %></p>
        </div>


        <div class="dog-runner-box">
          <%= simple_form_for @run, url: confirm_path(@run), method: :patch do |f| %>

            <%= f.button :submit, value: "Confirm Booking", class: "btn btn-primary btn-width-to-fit" %>
          <% end %>
        </div>




        </div>
      </div>
    </div>

