
<div class="container form-container">

  <div class="row">
    <div class="col col-xs-12 text-center">
      <h2>Run History</h2>
      <p>This page has not been styled yet!</p>
      <br>
    </div>
  </div>

  <% @runs.each do |run| %>

    <div class="row">
      <div class="col col-xs-2">
        <% if run.park_id %>
          <%= cl_image_tag run.dog.photo.path, height: 50, width: 50 %>
        <% end %>
      </div>
      <div class="col col-xs-4">
        <p><%= run.appointment %></p>
      </div>
      <div class="col col-xs-2">
        <p><%= run.duration %></p>
      </div>
      <div class="col col-xs-2">
        <p><%= run.status %></p>
      </div>
      <div class="col col-xs-2">
        <p><%= link_to "Go to Run", run_path(run) %></p>
      </div>
    </div>
  <% end %>


</div>


