<div class="container">
  <div class="row">
    <div class="col col-xs-12">


      <h1>Run History!</h1>

        <% @runs.each do |run| %>
          <p><%= link_to "Make Changes", run_path(run) %></p>
          <%= cl_image_tag run.park.photo.path, height: 180, width: 280, crop: :fill %>
          <p><%= run.appointment %></p>
          <p><%= run.duration %></p>
          <p><%= run.status %></p>
        <% end %>

    </div>
  </div>
</div>

