<br>
<div class="container">
  <div class="row">
    <div class=".col col-xs-12">

        <%= simple_form_for @run do |f| %>

          <% if @dogs.size > 1 %>
           <%= f.label 'Which dog would you like to run?' %>
           <%= f.input :dog_id, label: false, collection: @dogs %>
          <% else %>
            <p><b>Booking a run for <%= @dogs.first.name %><b></p>
            <br>
            <%= f.input :dog_id, as: :hidden, input_html: { value: @dogs.first.id } %>
          <% end %>

          <%= f.label 'How many minutes?' %>
          <%= f.input :duration, label: false, collection: [10, 20, 30] %>


          <%= f.button :submit, value: "See Summary", class: "btn btn-primary btn-width-to-fit" %>

      <% end %>

        </div>
      </div>
    </div>
    <br>
