

<div class="container width-100">
  <div class="row">
    <%= simple_form_for @run do |f| %>
    <div class="formOne">
      <div class="col-xs-12 light-grey-bottom-border profile-field-info">
        <%= f.input :dog_id, label: false, collection: @dogs %>
      </div>
      <div class="col-xs-12 light-grey-bottom-border profile-field-info">
        <%= f.input :duration, label: false, collection: Run.durations %>
      </div>
      <div class="col-xs-12 light-grey-bottom-border profile-field-info">
        <%= f.input :note, as: :text, label: false %>
      </div>
      <div class="col-xs-12 light-grey-bottom-border profile-field-info">
        <%= f.button :submit, class: "btn btn-primary btn-width-to-fit" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

