
<div class="page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div id="container-one-run-<%= @run.id %>" class="content-container">
          <%= render "run_status_first", run: @run, user: @user, dog: @dog %>
        </div>
        <div  id="container-two-run-<%= @run.id %>" class="content-container">
          <%= render "run_status_second", run: @run, user: @user  %>
        </div>
      </div>
    </div>
  </div>
</div>


<% content_for :after_js do %>
<script>
  console.log("helo");
  App['run_<%= @run.id %>'] = App.cable.subscriptions.create(
    { channel: 'RunStatusChannel', run_id: <%= @run.id %> },
    {
      received: (data) => {
        $("#container-one-run-<%= @run.id %>").html(data.run_first_partial);
        $("#container-two-run-<%= @run.id %>").html(data.run_second_partial);
      }
    }
    );
  </script>
  <% end %>




