<div class="container">
  <div class="row">
    <div class="col col-xs-12">
      <div class="dog-runner-box">
        <% if @run.status == "pending" %>
          <p><span><%= image_tag "sitting.png" %></span><%= @dog.name %> and ??</p>
        <% else %>
          <p><span><%= image_tag "run.png" %></span><%= @dog.name %> and <%= @user.first_name %></p>
        <% end %>
      </div>

      <div class="dog-runner-box">

        <% if @run.status == "pending"%>
        <p>Status: We're searching for your runner...<span><%= image_tag "sitting.png" %></span></p>
        <% elsif @run.status == "confirmed"%>
        <p>Status: <%= @user.first_name %> just accepted your run request...<span><%= image_tag "standing.png" %></span></p>
        <% elsif @run.status == "coming"%>
        <p></span>Status: <%= @user.first_name %> is on the way...<span><%= image_tag "standing.png" %></p>
        <% elsif @run.status == "arrived"%>
        <p>Status: <%= @user.first_name %> has arrived...<span><%= image_tag "pickup2.png" %></span></p>
        <% elsif @run.status == "started"%>
        <p>Status: the run has started...<span><%= image_tag "run.png" %></span></p>
        <% elsif @run.status == "ended"%>
        <p>Status: the run is finished...<span><%= image_tag "home.png" %></span></p>
        <% else @run.status == "cancelled"%>
        <p>Status: We're sorry, your run was cancelled...<span><%= image_tag "sad-dog2.png" %></span></p>
        <% end %>

      </div>


      <% if @run.status == "arrived" || @run.status == "started" || @run.status == "ended" %>
      <!-- start LocaToWeb embed code -->
        <div class="dog-runner-box">
          <%= link_to "map of the run!", gps_path, method: :get, class: "btn btn-primary btn-md" %>
        </div>
      <% else %>
         <div class="dog-runner-box">
           <p class="btn btn-primary btn-md">map of the run!</p>
        </div>
      <% end %>


        <div class="dog-runner-box">
          <%= link_to "check out the run history", runs_path, method: :get, class: "btn btn-primary btn-md" %>
        </div>

      </div>
    </div>
  </div>

<!-- refresh page every few seconds....(to change running status with admin) -->
  <%= content_for :javascript do %>
  <script>
    $(function(){
      setTimeout(function(){
   window.location.reload(1);
}, 5000);
    });
  </script>
  <% end %>



