<div class="container">
  <div class="row">
    <div class="col col-xs-12">
      <div class="dog-runner-box">
        <% if @run.status == "pending" %>
          <p>
          <span><%= image_tag "dog_avatar.jpg", {class: "img-circle", id: "logo", style: "height: 50px;"}%></span>
          <%= @dog.name %>
          </p>
        <% else %>
          <p>
          <span><%= image_tag "dog_avatar.jpg", {class: "img-circle", id: "logo", style: "height: 50px;"}%></span>
          <%= @dog.name %> and <%= @user.first_name %>
          <span><%= image_tag "runner_avatar.png", {class: "img-circle", id: "logo", style: "height: 50px;"}%></span>
          </p>
        <% end %>
      </div>

      <div class="dog-runner-box">

        <% if @run.status == "pending"%>
        <p><span><%= image_tag "sitting.png" %></span>We're searching for your runner...</p>
        <% elsif @run.status == "confirmed"%>
        <p><span><%= image_tag "standing.png" %></span><%= @user.first_name %> just accepted your run request...</p>
        <% elsif @run.status == "coming"%>
        <p><span><%= image_tag "standing.png" %></span><%= @user.first_name %> is on the way...</p>
        <% elsif @run.status == "arrived"%>
        <p><span><%= image_tag "pickup2.png" %></span><%= @user.first_name %> has arrived...</p>
        <% elsif @run.status == "started"%>
        <p><span><%= image_tag "run.png" %></span>the run has started...</p>
        <% elsif @run.status == "ended"%>
        <p><span><%= image_tag "home.png" %></span>the run is finished...</p>
        <% else @run.status == "cancelled"%>
        <p><span><%= image_tag "sad-dog2.png" %></span>We're sorry, your run was cancelled...</p>
        <% end %>

      </div>


      <% if @run.status == "arrived" || @run.status == "started" || @run.status == "ended" %>
      <!-- start LocaToWeb embed code -->
        <div class="dog-runner-box">
          <%= link_to "map of the run!", gps_path, method: :get, class: "btn btn-primary btn-md" %>
        </div>
      <% else %>
         <div class="dog-runner-box">
           <p class="btn btn-primary btn-md">map of the run!</p>
        </div>
      <% end %>


        <div class="dog-runner-box">
          <%= link_to "check out the run history", runs_path, method: :get, class: "btn btn-primary btn-md" %>
        </div>

      </div>
    </div>
  </div>

<!-- refresh page every few seconds....(to change running status with admin) -->
  <%= content_for :javascript do %>
  <script>
    $(function(){
      setTimeout(function(){
   window.location.reload(1);
}, 5000);
    });
  </script>
  <% end %>



